
body {
  font-family: "Roboto", sans-serif; /*симейство ( имя щрифта)
     */
  color: var(--grey-color);
  line-height: 1.4;
  font-size: 15px;
}
.container {
  width: 1240px;
  padding: o 20px;
  margin: 0 auto;
 
}