.html{
scroll-behavior: smooth;
}


h1,
h2,
h3,
p,
ul,
li,
input,
button,
img {
  margin: 0;
  padding: 0;
}



a {
  text-decoration: none;
   transition: color 0.2s ease; 
}
ul {
  list-style: none;
}
